<!doctype html>

<head>
  <title>{{ nodename }} Local Database </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-alpha.6/css/bootstrap.css">
</head>

<body>
<nav class="navbar navbar-left">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">Rozproszona Baza Danych</a>
        </div>

        <div>
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('add_data') }}">Add data <span class="sr-only">(current)</span></a></li>
                <li class="active"><a href="{{ url_for('global_database_table') }}">Show Global Database</a></li>
                <li><a href="{{ url_for('local_database_table') }}">Show Local Database</a></li>
            </ul>

        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>



    <div class="span12" style="text-align: center">
        <h1> Global database for {{ nodename }}</h1>
        <div class="table-responsive center-block">
            <table class="table-striped center-block" style="margin-left: auto; margin-right: auto; width: 800px;">
                <thead>
                    <tr>
                        <th>id</th>
                        <th>Opis</th>
                        <th>Kwota [zl]</th>
                        <th>Dział</th>
                    </tr>
                </thead>
                {% for key, value in database.items()  %}
                    <tr>
                      <td>{{ key }}</td>
                      <td>{{ value[0] }}</td>
                      <td>{{ value[1] }}</td>
                      <td>{{ value[2] }}</td>
                    </tr>
                {% endfor %}
            </table>
        </div>
    </div>
</body>